<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">

  <!-- endbuild -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  

</head>

<body ng-app="printdigtsApp">
  
  <div ng-if="showHeaderFooter" ng-include="'views/header.html'" ></div>
  <div>
    <ng-view></ng-view>
  </div>
<div  ng-if="showHeaderFooter" ng-include="'views/footer.html'" ></div>

  

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    !function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <!-- endbower -->
   <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>
  <script src="scripts/controllers/contactus.js"></script>
  <script src="scripts/controllers/productdetails.js"></script>
  <script src="scripts/controllers/common.js"></script>
  <script src="scripts/controllers/sidenav.js"></script>
  <script src="scripts/services/homepage.js"></script>
  <script src="scripts/jquery.js"></script>
  <script src="scripts/pace.js"></script>
  <script src="scripts/services/producservice.js"></script>
  <script src="scripts/controllers/adminmain.js"></script>
  <script src="scripts/controllers/searchpage.js"></script>
  <script src="scripts/controllers/loginadmin.js"></script>
  <script src="scripts/controllers/productdetail.js"></script>  
  <script src="scripts/services/demopage.js"></script>
  <!-- endbuild -->
 <script src="scripts/services/common-scripts.js"></script>
 <script type="text/javascript" src="scripts/services/jquery.dcjqaccordion.2.7.js"></script>
  <script src="scripts/services/jquery.scrollTo.min.js"></script>
</body>

</html>