<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Angular JS</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/custom.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/myapp.js"></script>
</head>

<body ng-app="myApp">
	<div class="container" ng-controller="reviewCtrl">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Reviews</h1>
				<hr />
				<h4>Submit a Reviews</h4>

				<div class="form-group">
					<select class="form-control" ng-model="review.rating">
						<option value="Rate the product">Rate the product</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="form-group">
					<textarea class="form-control" ng-model="review.shortDesc" placeholder="Write a short reviews for product..."></textarea>
				</div>
				<div class="form-group">
					<input type="email" placeholder="hw@gmail.com" class="form-control" ng-model="review.emailID" />
				</div>
				<div class="form-group">
					<button type="button" value="Submit" class="btn btn-primary" ng-click="SubmitReview()">Submit Review</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h4>Product Reviews</h4>	
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="x in reviewList">
						
						<strong class="badge">{{x.rating}}</strong>{{x.shortDesc}}
						<p><i>{{x.emailID}}</i></p>
					</li>
				</ul>
			</div>

		</div>
	</div>
	
</body>
</html>
