 <section id="ww">
 <div class="container aboutContent">
			<div class="row text-center">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					
					<h1>About PrintDigits!</h1>
					<p><strong>PrintDigits</strong>, founded in 2004, is a professional manufacturer of sublimation machine and blank comsumables, integrating research, design, production, distribution and after-sales service as a whole. We are located in the famous International Commodity City-Yiwu, China.</p>
                    <h1>Miscellaneous Products</h1>
					<p><strong>PrintDigits</strong> offer all types of sublimation machines, including the most popular 3D sublimation vacuum heat press machine ST-3042, mini 3D sublimation machine ST-1520, 3D phone case sublimation machine ST-2030 specially developed for customers printing phone cases; And the latest design: pneumatic mug press ST-110, double-station mug press ST-210, 3D sublimation press machine ST-420, drawer type heat press machine hydraulic/ without hydraulic style ST-4050; and the traditional machine: mug press, plate press, hat press, tile press, 8 in 1 press and so on.</p>
                    <h1>Innovation</h1>
                    <p>Innovation has been SUN-FLY’s core value since its foundation. We focus on bringing new sublimation printing materials/products and techniques to this market which assists you to expand your business.

</p>
<div class="row text-center" style="background:#fff!important;">
<div class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
<img src="images/one1.jpg">
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<img src="images/two2.jpg">
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<img src="images/three3.jpg">
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<img src="images/four4.jpg">
</div>
<div class="col-lg-2 col-md-2 col-sm-2">
<img src="images/five5.jpg">
</div>

				</div>
			</div>
	    </div>
 </section>