<section id="ww">
	<div class="container aboutContent">
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<h1>About PrintDigits!</h1>
				<p>Founded in the year 2017, <strong>CK Print Digits Pvt. Ltd.</strong> is occupied in manufacturing, trading, importing,
					exporting and service providing of Digital Printer, Flat Press Printing Machine and Digital Printer Installation Service
					etc. These products are extremely employed by commercial and residential customers due to their longer functional life,
					top performance and reasonable prices. Our customers can avail these products with us at reasonable costs.</p>
				<p>Due to high demand, these products are available in diverse configurations and can change as per the necessities of the
					patrons. Working under the mentor-ship of Mr. Komal Tuteja ( Owner ), we have acquired a reputed stature in the industry.</p>
				<h1>WHY US</h1>
				<p><strong> Print Digits Private Limited</strong> is Delhi, India based firm and immersed in providing top range of products.
					Our products are available in varied configurations that meet on customer’s demand. Some other features of our entity
					are:</p>
				
					<p>
				<div class="row">
						<div class="col-lg-14 col-md-4 col-sm-4 col-xs-12 bg-blue padding10bold borderBlue">Skilled vendor’s team</div>
					<div class="col-lg-14 col-md-4 col-sm-4 col-xs-12 padding10bold borderBlue">User friendly products</div>
					<div class="col-lg-14 col-md-4 col-sm-4 col-xs-12 bg-blue padding10bold borderBlue">Affordable prices</div>	

				</div>
					</p>
					
<div class="row">
				<h1>BRANDS WE DEAL IN</h1>

				<p>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bg-blue padding10bold borderBlue">Skilled vendor’s team</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 padding10bold borderBlue">Ricoh</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bg-blue padding10bold borderBlue">MobiCare</div>	
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 padding10bold borderBlue">SunflyHP</div>	
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 bg-blue padding10bold borderBlue">Fuctomi</div>	
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6  padding10bold borderBlue">3D Sublimation</div>	
					</p>
</div>
				<h1>Innovation</h1>
				<p>Innovation has been <strong>PrintDigits</strong> core value since its foundation. We focus on bringing new sublimation
					printing materials/products and techniques to this market which assists you to expand your business.

				</p>
				
				<div class="row text-center" style="background:#fff!important;">
					<div class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
						<img src="images/one1.jpg">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2">
						<img src="images/two2.jpg">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2">
						<img src="images/three3.jpg">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2">
						<img src="images/four4.jpg">
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2">
						<img src="images/five5.jpg">
					</div>

				</div>
				</div>
			</div>
		</div>
</section>