<section id="">
  <div class="container-fluid bordertopproduct">


<div class="container">

    <div class="row">
        <h3>Filters</h3>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 borderFilter categorynav padding10 paddingBottomZero">
    
 <uib-accordion close-others="oneAtATime">
<h5><strong>Categories</strong></h5>
 <div uib-accordion-group class="panel-default" is-open="status.isFirstOpen"  heading="SUBLIMATION MACHINE SPARES">
       <ul>
         <li><a>11Oz Mug Silicon Clamp</a></li>
          <li><a>11oz Mugs Special Clamp</a></li>
          <li><a>12Oz Conical Mugs Special Clamp</a></li>
          <li><a>15 Oz Mugs Special Clamps</a></li>
          <li><a>6 Inch Clamp</a></li>
          <li><a>Air Filter Of 3D Machine</a></li>
          <li><a>Filter Element Of 3D Machine</a></li>
     </ul>
    </div>

    <div uib-accordion-group class="panel-default" heading="MUG PRINTING MACHINE">
     <ul>
         <li><a>10 in1 Combo Heat Press Machine</a></li>
          <li><a>2 in1 Mug Press Machine</a></li>
          <li><a>3 In 1 Mug Press For Coffee Beer Sipper Bottle Printing</a></li>
          <li><a>4 in 1 Mug Press for Multi Mug Printing Machine</a></li>
          <li><a>Free Sub Branded Automatic Mug</a></li>          
     </ul>
    </div>


    <div uib-accordion-group class="panel-default" heading="PRINTERS">
     <ul>
         <li><a>EPSON L130</a></li>
          <li><a>EPSON L1800</a></li>
          <li><a>EPSON L805</a></li>
          <li><a>EPSON T3270</a></li>                  
     </ul>
    </div>

  </uib-accordion>
  

        </div>

        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            
            right


        </div>

      
    </div>


</div>
    
    </div>
</section>