<footer>
    <div class="container" ng-controller="CommonCtrl">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p><img ng-src="images/logofooter.png"></p>
            Copyright © {{dateTme}} Print Digits International Business Development Ltd. All rights reserved.
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerList">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="x in footerLink">
            <ul>
              <li><a ng-href="#!/{{x.href}}">{{x.value}}</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 footerList">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footerList">
            <ul>
              <span>CONTACT US</span>
              <li>CK PrintDigits Pvt. Ltd. <br/>Address: F29, Desh Bandhu Gupta Market, Opp PP Jewellers, <br/>Karol Bagh, New Delhi-110005
              </li>
            </ul>
          </div>
        </div>
      </div>




    </div>

  </footer>