
<div ng-controller="CommonCtrl">
  <div class="headerBg">
    <div class="container">
      <img src="images/headerimg.png" class="img-responsive" border="0">
    </div>
  </div>
  <div class="container-fluid bgPdf">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-9 col-sm-12 mobileFont">
          View our entire sublimation product line through the PDF catalog
        </div>
        <div class="col-lg-3 col-sm-12">
          <a ng-href="#" title="DOWNLOAD PDF"><img src="images/pdfbtn.png"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid marginTB20">
    <div class="container text-center">
      <div class="welcomeBg">
        <div class="row">

          <div class="col-lg-12 col-sm-12">

            <h1 class="font30bold gray ">WELCOME TO DIGIT PRINTS</h1>
            <p>CK PrintDigits Pvt Ltd is unique Company offers the Advance technological support in Digital Printing Business founded in 2017 with rich experience on International assignements.
            We, CK Print Digits Pvt. Ltd. is occupied in manufacturing, trading, importing, exporting and service providing of Digital Printer, Flat Press Printing Machine and Digital Printer Installation Service etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container text-center">
      <div class="row">
        <h1 class="font30bold gray ">3D SUBLIMATION</h1>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mBttom20" ng-repeat="x in listPro | limitTo:4 | orderBy:'productPhoto'">
          
          <div>
            <img ng-src="{{x.productPhoto}}" class="mb10px" border="0" />
            <p class="marginBottomZero"><strong>{{x.productName | uppercase}}</strong><br/>
              <a ng-href="{{x.viewMore}}">{{x.viewMore}}</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <h1 class="font30bold gray ">HEAT PRESS MACHINE</h1>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mBttom20" ng-repeat="x in listPro | limitTo:4 | orderBy:'productName'">
          
          <div>
            <img ng-src="{{x.productPhoto}}" class="mb10px" border="0" />
            <p class="marginBottomZero"><strong>{{x.productName | uppercase}}</strong><br/>
              <a ng-href="{{x.viewMore}}">{{x.viewMore}}</a>
            </p>
          </div>
        </div>
      </div>
      

    </div>
  </div>


  <div class="container-fluid marginTB20 bgStay">
    <div class="container text-center">
      <div class="">
        <div class="row">

          <div class="col-lg-12 col-sm-12">
            <h1 class="font30bold gray ">STAY CONNECTED</h1>
            <p class="font19">Sign up for emails or text alerts and get 40% off 1 item.</p>
            <form class="form-inline" name="newsLetter">
              <span ng-show="emailErrorMessage" class="bg-danger padding5border">Please enter correct email</span>
              <span ng-show="emailSuccessMessage" class="bg-success padding5border">Message sent successfully</span>
              <input type="text" name="newsEmail" class="form-control radiusZero" placeholder="Join our email list" required>
              <input type="submit" ng-click="submitNewsletter()" class="btn btn-Black radiusZero">
            </form>
            <h1 class="font30bold gray">FOLLOW US ON</h1>
            <p>
              <a ng-href="#" title="Twiiter" class="fa fa-twitter"><a>
                  <a ng-href="#" title="Facebook" class="fa fa-facebook"><a>
                      <a ng-href="#" title="LinkedIn" class="fa fa-linkedin"><a>
                          <a ng-href="#" title="Google Plus" class="fa fa-google"><a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /container -->