<div class="container"> 
  <!-- Example row of columns -->
  <div class="row product-detail" >
    <div class="col-md-4">
      <div ng-repeat="x in sideNavLinks" class="margin-btm40">
        <h3 class="grey-heading">{{x.productHeading}}</h3>
        <ul class="list-unstyled bullets">
          <li ng-repeat="y in x.sideNavLinks">{{y.name}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8" ng-repeat="a in productTable">
      <h3 class="grey-heading">{{a.tableHeading}}</h3>
      <div class="row margin-tb20">
        <div class="col-md-3"><img src="images/20151207104626_8574173.jpg" class="img-responsive" /></div>
        <div class="col-md-9">
          <table class="table table-striped" >
            {{a.tableData}}
            <tr ng-repeat="b in a.tableData" >
              <td>{{b.key}}</td>
              <td>{{b.value}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
            <li ng-repeat="productData in productDetail">{{productData.data}}</li>
          </ul>
          <p class="margin-tb20"><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          <p><img src="images/product1.jpg" alt="Product" class="img-responsive"/></p>
        </div>
      </div>
      <div class="row margin-tb20">
        <div class="col-md-4">
          <h3 class="grey-heading">Product Features</h3>
          <ul class="list-unstyled bullets">
            <li>New LifeStyle</li>
            <li>Impressive Artwork</li>
          </ul>
        </div>
        <div class="col-md-8"><img src="images/product3.jpg" alt="Product" class="img-responsive"/></div>
      </div>
    </div>
  </div>
</div>
</div>
