body{font-family:Helvetica,Arial,sans-serif}


.lastChildColor li:last-child a{color:#00adf0!important; font-weight:bold}
.lastChildColor li:last-child::after{    content:none!important}

.preloader{background-color:#fff; position:fixed; width:100%; height:100%; z-index:9999999}

.pace{-webkit-pointer-events:none; pointer-events:none; -webkit-user-select:none; -moz-user-select:none; user-select:none; z-index:9999999; position:fixed; margin:auto; top:0; left:0; right:0; bottom:0; height:2px; width:100%; background:#fff}

.pace .pace-progress{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; -webkit-transition:width 1s ease-in-out 1s linear; -moz-transition:width 1s ease-in-out 1s linear; -ms-transition:width 1s ease-in-out 1s linear; -o-transition:width 1s ease-in-out 1s linear; transition:width 1s ease-in-out 1s linear; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0); max-width:100%; position:fixed; z-index:9999999; display:block; position:absolute; left:0px; top:0px; height:100%; background:#61b5f0}

.pace.pace-inactive{display:none}

.nav >li >a:hover{color:#00adf0!important; background:none!important}
.bgPdf{font-size:28px!important; padding:10px 0; background:#615f61!important; color:#fff!important}

footer{background:#252525; padding:30px 0; color:#fff; font-size:12px}
footer p{font-size:12px}
.footerList ul{padding:0px}
.footerList ul li{list-style:none; line-height:20px}
.footerList ul span{text-decoration:underline; font-weight:bold; font-size:14px}
.footerList ul li a{color:#fff}

.headerBg{background:#373435!important}
.radiusZero{border-radius:0px!important}
.borderZero{border:0px!important}
.welcomeBg{background:#f3f3f3; padding:10px 20px}
.pdfBox{background:#00adf0; padding:10px 20px}

.marginTB20{margin-top:20px; margin-bottom:20px}
.marginTB15{margin-top:15px; margin-bottom:15px}
.marginT20{margin:20px 0 0 0}
.white{color:#fff}
.gray{color:#3e3f42}
.font44{font-size:44px}
.font30bold{font-size:30px; font-weight:bold}
.font19{font-size:19px}
.borderFilter{border:1px solid #ccc}

p{color:#3e3f42; font-size:15px}
h1{font-size:33px; font-family:Calibri; margin-bottom: 10px;}
.text-shadow{text-shadow:#000 1px 1px}
.bg-blue{background:#02aff0}
.bg-gray{background:#373435} 

.bgStay{padding:10px; background:url("/images/stayBg.png") repeat top center}
.btn-Black, .btn:hover, .btn:focus{background:#000; color:#fff}
.mBttom20{margin-bottom:20px}
.mb10px{margin-bottom:10px}
.marginBottomZero{margin-bottom:0px}
.font28{font-size:28px!important}
.font11bold {font-size: 11px; font-weight: bold;}
.font12bold {font-size: 12px; font-weight: bold;}

.topBgBlack{background:#000; height:38px; line-height:38px;  font-size:12px}
.topBgBlack a{color:#fff}
.padding5border{border:1px solid #444; padding:5px}
.navbar-toggle{background:#00adf0; margin:0 auto; width:100%; border-radius:0px}

.navbar-toggle .icon-bar{background-color:#000!important}
.logoStyle{position:absolute; float:left;  left:10px; top:50px}

@media only screen and (min-width:320px) and (max-width:480px){
.topBgBlack{background:#000; height:80px;  font-size:12px}
.textCenterMobile{text-align:center}
.mobileFont{font-size:20px
}
.logoStyle{margin:10px 0 10px 0; width:100%; text-align:center;  position:static; left:0px}
.nav >li >a {float: none!important; }
.navbar-nav > li::after {
    content: ""!important;
}
}


 @media only screen and (min-width:768px) and (max-width:1024px){
.logoStyle{margin:10px 0 10px 0; position:static; width:100%; text-align:center;  static; left:0px
}

}

.nav >li >a{color:#444!important; font-size:12px; text-transform:uppercase; padding:5px 10px!important; line-height: 12px!important; float: left; cursor: pointer;}
.navbar-nav > li::after {
    content: "/";
}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color:#fff;
    
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu {border: 0px; padding: 10px; box-shadow: none; border-radius: 0px;}
.dropdown-menu > li > a, .dropdown-menu > li > a:hover {color: #444!important;  background-color:#fff!important;   font-size: 11px!important;   text-transform: uppercase; padding:7px 7px!important;}
.dropdown-menu li:last-child a {font-weight: normal; color: #444!important; }



.modal-title {color:#fff;}
.text-danger {color:#ff0000!important;}
#content {
	position:relative;
	background:#fff;
	padding:50px 0 40px 0;
}

#content img {
	max-width:100%;
	height:auto;
}
.map{
	position:relative;
	margin-top:-50px;
	margin-bottom:40px;
}

.map iframe{
	width:100%;
	height:450px;
	border:none;
}

.map-grid iframe{
	width:100%;
	height:350px;
	border:none;
	margin:0 0 -5px 0;
	padding:0;
}

.has-error
    {
      border: solid red 1px;
    }

.text-red {color:red!important; font-size: 11px; }
.font11 {font-size: 11px;}