
<div class="container-fluid" ng-controller="studentRegCtrl">
 <div class="container text-center" style="margin-top:20px; ">
                        <a href="#/" class="btn btn-default">Back</a> 
                </div>
<div class="container-fluid">
<div class="container" style="background:#242E37;" >
<h1>Hello Team...!! Create New Account</h1>
</div>
 <div class="container" style="background:#fff; padding: 20px;">
 <form name="studentTime" novalidate="">
 
<div class="row">
    <div class="col-lg-6 col-md-6">
    <div class="form-group">
    <label>Upload Photo</label>    
    {{studentForm.photos}}
    <!-- <input type="text" class="form-control input-sm" name="username" ng-model="studentForm.photos">  -->
    <input type="file" name="fileupload" ng-model="studentForm.photos" ng-click="fileUp"> 
  </div>
  <div class="form-group">
    <label>Username</label>    
    <input type="text" class="form-control input-sm" name="username" ng-model="studentForm.username">
    <p ng-show="requiredField"><span style="font-weight: bold; color: #ff0000; font-size:10px; ">Required field.</span></p>
  </div>
   <div class="form-group">
    <label>Class</label>
    <input type="text" class="form-control input-sm" name="class" ng-model="studentForm.class">
    <p ng-show="requiredField"><span style="font-weight: bold; color: #ff0000; font-size:10px; ">Required field.</span></p>
  </div>
  <div class="form-group">
    <label>Duration</label>    
    <select class="form-control input-sm" name="duration" ng-model="studentForm.duration">
        <option value="">Select any</option>
        <option value="3 Months">3 Months</option>
        <option value="6 Months">6 Months</option>
        <option value="9 Months">9 Months</option>
    </select>
    <p ng-show="requiredField"><span style="font-weight: bold; color: #ff0000; font-size:10px; ">Required field.</span></p>
  </div>
  <div class="form-group">
    <label>Gender</label><br/>
    <input type="radio" name="demo" ng-model="studentForm.gender" value="Male">&nbsp;Male&nbsp;&nbsp;&nbsp;
    <input type="radio" name="demo" ng-model="studentForm.gender" value="Female">&nbsp;Female
    <p ng-show="requiredField"><span style="font-weight: bold; color: #ff0000; font-size:10px; ">Required field.</span></p>
  </div>
</div>
<div class="col-lg-6 col-md-6">
<div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control input-sm" name="password" ng-model="studentForm.password">
    <p ng-show="requiredField"><span style="font-weight: bold; color: #ff0000; font-size:10px; ">Required field.</span></p>
  </div>
  
  <div class="form-group">
    <label>Course</label>
    <input type="text" class="form-control input-sm" name="course" ng-model="studentForm.course">
    <p ng-show="requiredField"><span style="font-weight: bold; color: #ff0000; font-size:10px; ">Required field.</span></p>
  </div> 
  <div class="form-group">
    <label>Fee</label>
    <input type="text" class="form-control input-sm" name="fee" ng-model="studentForm.fee">
    <p ng-show="requiredField"><span style="font-weight: bold; color: #ff0000; font-size:10px; ">Required field.</span></p>
  </div> 
  <div class="form-group">
    <label>How you find this site?</label><br/>
    <input type="checkbox" name="yes" value="Newspaper" ng-model="studentForm.placementNewspaper">Newspaper
    <input type="checkbox" name="no" value="Google" ng-model="studentForm.placementGoogle">Google
    <input type="checkbox" name="no" value="Other" ng-model="studentForm.placementOther">Other
  </div> 
   <div class="form-group">
    <label>&nbsp;</label>    
    <input type="submit" value="Submit me!" ng-click="SubmitData()" class="btn btn-success btn-md btn-block">
  </div> 
</div>
</div>
</form>
</div>




</div>
