<div class="page-wrapper">
<div class="container">
	<div class="row" ng-controller="myCtrl">
	<div class="col-md-8">
	<div class="row">
	<div class="col-md-12">
    <input type="checkbox" value="" id="fullList" name="fullList" ng-model="myDivShow" >&nbsp;<label>Check to See the Full List</label>
    </div>
	</div>
	<div class="row">
	<div class="col-md-12">
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Qualification</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="x in addList">
			<td>{{x.name}}</td>
			<td>{{x.email}}</td>
			<td><span ng-repeat="inner in x.qualification">{{inner.subject}},	</span></td>
			<td>
			<span ng-click="registerDelete($index);">Delete</span>
			<span ng-click="registerEdit($index);">Edit</span>
			</td>
		</tr>
	</table>
	<!-- {{addList}} -->
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<tr ng-repeat="y in myNewList">
			<td>{{y.name}}</td>
			<td>{{y.email}}</td>
			
		</tr>
	</table>


	</div>
	</div>
	<div class="row">
		<div class="col-md-12" ng-hide="myDivShow">
			{{myArray}}
		</div>
	</div>
	</div>
	</div>
	
	</div>
</div>
</div>