<div class="page-wrapper">

		
<div class="row" ng-controller="registrationCtrl">
	<div class="col-md-12">
	 <h1 class="h1">Please find the List below</h1>	
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Qualification</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="x in addList">
			<td>{{x.name}}</td>
			<td>{{x.email}}</td>
			<td><span ng-repeat="inner in x.qualification">{{inner.subject}},	</span></td>
			<td>
			<span ng-click="registerDelete($index);">Delete</span>
			<span ng-click="registerEdit($index);">Edit</span>
			</td>
		</tr>
	</table>

	</div>
	</div>

	</div>
</div>
